.page {
  color: rgb(43, 17, 105);
  padding: 0 1rem;
  background: #667a8f;
  __box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 12rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: 20rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 100%;
      left: 100%;
      transform: translate(-50%, -50%);
    }
  }
}
